<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
var map;
var url = "https://mlh.io/seasons/s2015/events"

var scrape = function(fn) {
  $.getJSON("data", function(data) {
    fn(data)
  })
}

function httpGet(theUrl, fn)
{
  var xmlHttp = null;

  xmlHttp = new XMLHttpRequest();
  xmlHttp.open( "GET", theUrl, false );
  xmlHttp.send( null );
  fn(xmlHttp.responseText);
}


function initialize() {

  scrape(function(data) {

    var mapOptions = {
      zoom:5,
      center: new google.maps.LatLng(38, -98)
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    data.forEach(function (event) {
      var baseUrl = "https://maps.googleapis.com/maps/api/geocode/json?address="
      httpGet(baseUrl + event.location, function (data){
        data = JSON.parse(data)

        var point = data.results[0].geometry.location
        var marker = new google.maps.Marker({
            position: point,
            map: map,
            title:"Hello World!"
        });
      });
    })

  })
}
//end of initialize

google.maps.event.addDomListener(window, 'load', initialize);
// To add the marker to the map, call setMap();
//marker.setMap(map);
  </script>
</head>
<body>
  <div id="map-canvas"></div>
</body>
</html>
